nav li{
    padding: 10px;
}

.active{
    background-color: #2FEDDA;
    font-weight: bold;
    border: solid 3px #000000;
}

div:nth-child(odd) img{ 
    width: 200px;
    border: solid 5px #000000;
    margin: 2px;
    padding: 3px;
    border-radius: 7.5%;
}

div:nth-child(even) img{
    width: 250px;
    border: dashed 5px #ff0000;
    margin: 2px;
    padding: 15px;
    border-radius: 100%;
}

div img:hover{
    border: solid 5px orange;
}
